*.sublime-workspace
*.log
.bash_history
/.npm/
/.vagrant/
/**/.vscode/
/**/node_modules/**
/**/bower_components/**
/vagrant/.dev-unique-id
/vagrant/nginx-config/nginx.conf
/vagrant/nginx-config/scorm-engine-embed.conf
/**/coverage/
/public/
/playground/

jsconfig.json
test/fixtures/rschick
.vs
dist
obj
typings
*.log*
*.node_repl_history
/**/.idea/**
dev-environment-martin.sh
VL*-environment.sh
**/sao*
app/.npmrc
build/
.nyc_output/
